@model List<Product>

<section class="awe-section-5">
    <section class="section section_bestsale">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="section title_module_main">
                        <h2 class="h2">
                            <a asp-route="ProductList">Sản phẩm bán chạy</a>
                        </h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="content_module">
                                <div class="wrap_content">
                                    <div class="owl_col_section owlbestsale owl-carousel" data-dot="false" data-nav="true" data-lg-items="3" data-md-items="3"
                                         data-autoheight="true" data-xs-items="1" data-sm-items="2" data-margin="30">
                                        @foreach (var item in Model)
                                        {
                                            <div class="item_product_main itemcustome best_sale">
                                                <div class="product-box product-item-main product-main-list-mini">
                                                    <div class="product-thumbnail">
                                                        <a class="image_thumb p_img"
                                                           asp-route="ProductDetail"
                                                           asp-route-id="@item.ProductID"
                                                           asp-route-title="@item.Title.ToUrlFormat()">
                                                            <img src="contents/images-icons/loading0446.gif" data-lazyload="@item.Avatar">
                                                        </a>
                                                    </div>
                                                    <div class="product-info product-bottom">
                                                        <h3 class="product-title">
                                                            <a asp-route="ProductDetail"
                                                               asp-route-id="@item.ProductID"
                                                               asp-route-title="@item.Title.ToUrlFormat()">@item.Title</a>
                                                        </h3>
                                                        <div class="blockprice ">
                                                            <div class="product-item-price price-box">
                                                                <span class="price-style @(item.OldPrice == null ? "hidden" : "")">
                                                                    <span class="old-price">@item.OldPrice.GetCurrencyFormat()</span>
                                                                </span>
                                                                <span class="price-style">
                                                                    <span class="special-price">@item.Price.GetCurrencyFormat()</span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a class="readmore" 
                                                       asp-route="ProductDetail"
                                                       asp-route-id="@item.ProductID"
                                                       asp-route-title="@item.Title.ToUrlFormat()">
                                                    </a>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>