@model PagingDataSource

<div class="text-center">
    <nav class="clearfix relative nav_pagi f-left w_100">
        <ul class="pagination clearfix">
            <li class="page-item">
                <a class="page-link" href="@Model.PageFirstUrl">
                    <i class="fa fa-angle-double-left"></i>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="@Model.PageBackUrl">
                    <i class="fa fa-angle-left"></i>
                </a>
            </li>

            @foreach (var item in Model.PageNumbers)
            {
                <li class="page-item @(Model.Page == item.Key ? "active" : "")">
                    <a class="page-link" href="@item.Value">@item.Key</a>
                </li>
            }

            <li class="page-item">
                <a class="page-link" href="@Model.PageNextUrl">
                    <i class="fa fa-angle-right"></i>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="@Model.PageLastUrl">
                    <i class="fa fa-angle-double-right"></i>
                </a>
            </li>
        </ul>
    </nav>
</div>